<%= simple_form_for [task, @assignment] do |f| %>
  <%# show users %>
  <% @users.each do |user| %>
    <div class="row align-items-center">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.nickname}", class: 'avatar-large' %>
    </div>
  <% end %>
<% end %>
