<div class="menu-layout">
  <%= render 'shared/menu' %>
  <div class="content">
    <%= render 'tasks/top_menu' %>
    <div class="task__content" data-controller='update-checklist-item'>
      <%= render 'tasks/task', checklist_size: @checklist_size, task: @task %>
  </div>

</div>
