.filter {
  // display: none;
  transition: all 1s ease-in-out;
  opacity: 0;
  color: lightgray;
  cursor: pointer;
  &:hover {
    i {
      color: blueviolet;
    }
  }
}

.filter__pop {
  position: absolute;
  top: 112%;
  left: 0;
  background-color: white;
  padding: 16px;
  z-index: 5;

}

.section__header:hover {
  .filter{
    display: block;
    opacity: 1;
    color: rgb(90, 90, 90);
    position: relative;
  }
  & h3, button {
    transform: translateX(0);
  }
}

.section__header_title > h3, button {
  transition: all 1s ease-in-out;
  transform: translateX(-31px);
}
