.check-icon {
  font-size: 0.65rem;
  position: absolute;
  left: 15%;
  top: 52%;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #f4f4f4;
}

.icons {
  position: relative;
}

.bars-icon {
  margin-right: .75rem;
}
