<h1>Thank you for your new QR Code, <%= @user.name %></h1>
<p>
  Here it is: <%= @qr_code_url %>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
